*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #221f1f;
    color: #ffffff;

}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(34, 31, 31, 0.7), rgba(34, 31, 31, 0.7)), url(./images/netflixteaser.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8px;
    position: relative;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.logo {
    width: 150px;

    cursor: pointer;

}

nav button {
    border: 0;
    outline: 0;
    background: #e50914;
    color: #ffffff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #ffffff;
    padding: 7px 10px;
}

.language-btn img {
    width: 10px;
    margin-left: 10px;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3 {
    font-weight: 400px;
    margin-bottom: 20px;
}

.email-signup {
    background: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
    overflow: hidden;
}

.email-signup input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    border: 1px solid #ffffff;
    padding: 15px 30px;
    background: transparent;
    border-radius: 4px;

}

.email-signup button {
    background: #e50914;
    border: 0;
    outline: 0;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 4px;
}

.plans {
    margin: 2% 20% 3% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.plans h2 {
    align-self: flex-start;
}

.plans .container {
    display: flex;
    gap: 1rem;
}

.cards {
    background-image: linear-gradient(#8f3052, #38121e);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
    flex: 1;

    
}

.cards:hover {
    transform: scale(1.02);
    transition: 0.5s;
    background-image: linear-gradient(#aa3b62, #411524);

}

.trending {
    margin: 0 20%;
}

.drop-down select{
    background: #221f1f;
    color: #ffffff;
}

.image-list {
    margin: 1rem 0 1rem 0;
    display: grid;
    gap: 1rem;
    overflow: auto;
    grid-template-columns: repeat(10, 1fr);
}

.image-list::-webkit-scrollbar {
    display: none;

}

.slider-wrapper .image-list .image-item {
    width: 215px;
    height: auto;
    object-fit: cover;
}

.image-item:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.slider-wrapper {
    position: relative;
}

.slide-button {
    top: 50%;
    height: 70px;
    width: 20px;
    color: #ffffff;
    background: #423b3b;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
}

.slide-button:hover {
    background: #594f4f;
}

.slide-button#prev-slide {
    left: -20px;
}

.slide-button#next-slide {
    right: -20px;
}

.games {
    margin: 2% 20% 3% 20%;
}
.games .container {
    margin-top: 0.5rem;
    display: flex;
    border-radius: 5rem;
}

.games .text {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #802344, #070103);
    
}

.games img {
    height: 350px;
    width: auto;
}